@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
  --accent-one:         #4E4AD9;
  --accent-two:         #777DF2;
  --accent-three:       #A0ACF2;
  --accent-four:        #9FC131;
  --black-one:          #0D0D0D;
  --black-two:          #262626;
  --white-one:          #EFF5F8;
  --white-two:          #DFEBF2;
  --transparent-border: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  margin: auto;
  padding: 0px;
  min-height: 100%;
  height: 100%;
}

main {
  min-height: calc(100vh - 120px);
}

body {
  /* Light blue/light-blue-100 */
  background: var(--black-two);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header.page-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--black-two);

  /* position and size properties */
  padding: 10px;

  box-shadow: 2px 2px 2px 1px var(--transparent-border);
  background-color: var(--accent-four);
}

.main {
  width: 95%;
  margin: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-family: Inter;
  color: var(--black-two);
  padding: 15px;
  width: 30vw;
  margin: auto;

}

footer.footer {
  font-family: Inter;
  background-color: var(--accent-four);
  display: block;
  margin: auto;
  padding-left: 10px;
}

label.user-input-label {
    /* font properties */
    font-family: Inter;
    font-size: 10px;
    font-weight: bold;
    color: var(--black-one);
    /* position and size properties */
    display: block;
    margin: auto;
    margin-left: 65px;
    padding: 8px;
    /* asthetic properties*/  
}

.frame {
  width: 80vw;
  height: 80vh;
  min-width: 430px;
  max-width: max-content;
  max-height: max-content;

  /* size and positioning*/  
  margin-left: 15px;
  margin-right: 15px;

  /* asthetic properties*/
  box-shadow: 2px 2px 2px 1px var(--transparent-border);
  border-radius: 0.5em;
  background-color: #DFEBF2;
}

.buttons-frame {
  width: fit-content;
  height: fit-content;

  margin: auto;
  margin-top: 0em;
  align-items: center;
}

.btn {
  /* font properties */  
  font-family: Inter;
  font-size: 16px;
  color: var(--white-one);
  line-height: 100%;

  align-items: flex-start;
  vertical-align: bottom;
  top: 0px;  
  left: 0px;  
  flex-direction: row;

  width: 160px;
  height: 67px;
  min-width: 180;
  padding: 24px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 2px 0px;
  
  transition: 0.3s;
  background: var(--accent-one);
  border: 0px;
  border-radius: 0.5em;
  outline-width: 0px;
}
.btn:hover {
  transition: 0.3s;
  background:var(--accent-two);
}

.input-warning {
  /* font properties */
  /* position and size properties */
  position: absolute;
  margin: auto;
  transform: translateX(52px) translateY(6px);  
  /* asthetic properties*/
}

#copyAlert.copy-alert {
  /* font properties */
  font-family: Inter;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  color: var(--black-two);  
  content: "";
  /* position and size properties */
  width: 60px;
  height: 17px;

  transform: translateX(185px) translateY(-30px);

  position: absolute;
  
  /* asthetic properties*/
  opacity: 0;
  border-radius: 0.5em;
}

#copyAlert.anim {
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  background-color: var(--accent-four);  
}

@keyframes fade {
  000% {opacity: 0;} 
  020% {opacity: 1;} 
  080% {opacity: 1;}
  100% {opacity: 0;}
}

.user-input {
  /* font properties */
  font-family: Inter;
  font-size: 16px;
  color: var(--black-two);
  line-height: 150%;  

  text-align: center;

  /* position and size properties */
  width: 90%;
  height: 75%;

  min-width: auto;
  min-height: auto;

  resize: none;

  display: block;
  margin: auto;
  margin-top: 20px;

  /* asthetic properties*/
  border: 0px;
  outline: 0px;
  background-color: var(--white-two);
}
.user-input::placeholder {
  color: var(--black-two);
}

.answer-field {
  /* font properties */
  font-family: Inter;
  font-size: 16px;
  color: var(--black-two);
  line-height: 100%;
  text-align: center;

  /* position and size properties */
  width: 90%;
  height: 80%;
  display: block;
  margin: auto;
  margin-top: 20px;
  resize: none;

  /* asthetic properties*/  
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--white-two);
  border: 0px;
}

.alert-text {
  /* font properties */
  font-family: Inter;
  font-size: 24px;
  color: var(--black-two);
  line-height: normal;
  text-align: center;

  /* position and size properties */
  width: 420px;
  margin-top: 3%;

  position: absolute;

  resize: none;

  /* asthetic properties*/  
  visibility: visible;

  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  outline: 0px;
}

.copy-draft {

  user-select: all;

  /* position and size properties */
  height: 0px;
  width: 0px;

  visibility: hidden;
  position: absolute;
}